@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> CSS STANDARDS
----------------------------------------------------------------
1. Place in appropriate section
2. Add new sections to the Table of Contents as needed
3. Order properties consistently inside each declaration i.e. alphabetically or by function 
4. Declaration selectors should each occupy a new line
5. Enter one new line between rules
6. Enter more than one new line between categories 
--------------------------------------------------------------*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Settings: used with preprocessors and contain font, colors definitions, etc.
2.0 - Tools: globally used mixins and functions. Use for preprocessor only.
3.0 - Generic: reset and/or normalize styles, box-sizing definition, etc. 
4.0 - Elements: styling for bare/generic HTML elements 
        - Forms
        - Lists
        - Media
        - Tables
        - Typography: Headings, Paragraphs, Blockquotes, Anchors
5.0 - Objects: class-based selectors which define undecorated design patterns, building blocks
        - Framework
6.0 - Components: specific designed components
        - Buttons
        - Header
        - Navigation 
7.0 - Utilities: utilities and helper classes with ability to override anything which goes before in the triangle, eg. hide helper class
        - Alignment	    
        - Color
        - Size

--------------------------------------------------------------*/

/*--------------------------------------------------------------
1.0 SETTINGS
-------------------------------------------------------------- */



/*--------------------------------------------------------------
2.0 TOOLS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
3.0 - GENERIC 
-------------------------------------------------------------- */

* {
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        font-family: 'Open Sans', sans-serif;
    }


/*--------------------------------------------------------------
4.0 - ELEMENTS 
-------------------------------------------------------------- */

/* -- LISTS -- */
.col-nav li{
        display:inline-block;
        margin-left:36px;
        
}

/* -- MEDIA -- */
#bg-lights {
        background-image: url("../img/lights.jpg");
        background-size:cover;
        padding-top:300px;
        padding-bottom:300px;
}

#bg-laptop {
        background-image: url("../img/laptop.jpg");
        background-repeat:no-repeat;
}

#bg-stats {
        background-image:url("../img/stats.jpg")
}

#bg-latest-works {
        background-image: url("../img/bottles.jpg");
        background-repeat:no-repeat;
}

/* -- FORMS -- */ 


/* -- TYPOGRAPHY -- */
h2 {
        font-weight:300;
}

h3 {
        text-transform: uppercase;
        font-weight:300;
}
/*--------------------------------------------------------------
5.0 OBJECTS
-------------------------------------------------------------- */


/*--------------------------------------------------------------
6.0 COMPONENTS
-------------------------------------------------------------- */

.col-helifeatures:first-child, .col-who-we-are:last-child, .col-what-we-do:last-child {
        width:360px;
}

.col-helifeatures:nth-child(2), .col-helifeatures:nth-child(3) {
        width:240px;
}

.col-helifeatures:last-child {
        width:195px;
}

.col-helifeatures:nth-child(2), .col-helifeatures:nth-child(3), .col-helifeatures:last-child {
        margin-top:180px;
        border-left:1px solid #fff;
        text-align:center;
}
.col-helifeatures:nth-child(2) {
        margin-right:45px;
        margin-left:45px;
}

.col-helifeatures:first-child {
        margin-top:100px;
        font-size:10px;
        margin-bottom:90px;
}

.col-helifeatures:first-child p {
        line-height:15px;
        margin-bottom:30px;
}

.bg-grey {
        background-color: #222222;
}

#bg-laptop .wrapper > div > div {
        width:540px;
}


.col-who-we-are:first-child, .col-what-we-do:first-child {
        width:36px;
}

#bg-lights .wrapper > div > div {
        width:600px;
}

.col-stats:first-child {
        width:195px;
}

.col-stats:nth-child(2) {
        width:225px;
}

.col-stats:nth-child(3) {
        width: 270px;
}

.col-stats:last-child {
        width:150px;
}

.bg-grey, #bg-stats {
        color:#fff;
}

.col-updates:first-child, .col-updates:last-child, .col-updates:nth-child(2) {
        width:300px;
}

#begin-with-us .row > div {
        width:510px;
}

#bg-light-grey {
        background-color:#F7F7F7;
}

.col-contact:first-child {
        width:210px;
}

.col-contact:nth-child(2) {
        width:90px;
}

.col-contact:last-child {
        width:195px;
}

footer + section {
        text-align:center;
}
 
#bg-lights header {
        font-size:5px;
        font-weight:300;
        letter-spacing:10px;
}

#bg-lights header span {
        font-size:40px;
        font-weight:300;
}

#bg-lights header span span, .bg-grey header span {
        font-weight:700;
}

#bg-lights ul {
        letter-spacing:2px;
}

#bg-lights header, .bg-grey header, .col-helifeatures i + p {
        text-transform:uppercase;
}

.bg-grey header {
        font-size:20px;
        letter-spacing:5px;
}

.bg-grey i {
        font-size:30px;
}

a, a:hover {
        text-decoration:none;
}

/* -- NAVIGATION -- */
.col-nav:first-child {
        background-color:#000;
        color:#fff;
        text-align:center;
        padding-left:30px;
        padding-right:30px;
}

.col-nav:nth-child(2), .col-nav:last-child {
        padding-top:15px;
}

.col-nav:last-child {
        margin-right:24px;
}








/*--------------------------------------------------------------
7.0 UTILITIES
-------------------------------------------------------------- */

.row {
        overflow:auto;
}

.wrapper {
        margin:0 auto;
        width:1170px;
}

.flt-right {
        float:right;
}

.flt-left {
        float:left;
}